<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AwesomeDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87F9C2761BE2515800C21D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F9C28A1BE2515900C21D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F9C2951BE2515900C21D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
